<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="res-div">
            <img class="res-circle"
                src="https://lh3.googleusercontent.com/WSjhio9kIlKpLanonrDoMXhZL0VcjZhif7I1oaOowDH9EAncTA0HjzTkV-Dn6wiZ3Q=w144-h144-n-rw"
                srcset="https://lh3.googleusercontent.com/WSjhio9kIlKpLanonrDoMXhZL0VcjZhif7I1oaOowDH9EAncTA0HjzTkV-Dn6wiZ3Q=w288-h288-n-rw 2x"
                aria-hidden="true">

            <h1 itemprop="name" class="krEOAc">TrillionBits</h1>
            <div data-content-height="144"
                data-scroll-up-on-collapse="true"
                jsshadow="">
                <div itemprop="description">
                    <span>
                        <div>
                            <div>
                                We Build Apps using latest possible tech frameworks to fulfill trending demands of new
                                generations.
                            </div>
                        </div>
                    </span>
                    <div></div>
                </div>
                <h1 itemprop="name" class="krEOAc">Customization</h1>
                <div itemprop="description">
                    <span>
                        <div>
                            <div>
                                Need Customization of our App? <br>
                                Hire us: info@trillionbits.com
                            </div>
                        </div>
                    </span>
                    <div></div>
                </div>
            </div>
        </div> -->
        <!-- <div class="LMAbk ">
            <img
                src="https://lh3.googleusercontent.com/WSjhio9kIlKpLanonrDoMXhZL0VcjZhif7I1oaOowDH9EAncTA0HjzTkV-Dn6wiZ3Q=w144-h144-n-rw"
                srcset="https://lh3.googleusercontent.com/WSjhio9kIlKpLanonrDoMXhZL0VcjZhif7I1oaOowDH9EAncTA0HjzTkV-Dn6wiZ3Q=w288-h288-n-rw 2x"
                class="T75of Gbp9Kb"
                aria-hidden="true"
                data-atf="true"
                data-iml="807.3399999993853">
            <h1 class="sKZUA"
                itemprop="name">TrillionBits</h1>
            <div jscontroller="IsfMIf"
                jsaction="rcuQ6b:npT2md"
                class="PHBdkd"
                data-content-height="144"
                data-scroll-up-on-collapse="true"
                jsshadow="">
                <div jsname="bN97Pc"
                    class="DWPxHb"
                    itemprop="description"><span jsslot="">
                        <div class="krEOAc">
                            <div dir="ltr"
                                class="ia5f4b">  We Build Apps using latest possible tech frameworks to fulfill trending demands of new
                                generations.</div>
                        </div>
                    </span>
                    <div jsname="WgKync"
                        class="uwAgLc f3Fr9d"></div>
                </div>        
                <div jsname="bN97Pc"
                class="DWPxHb"
                itemprop="description"><span jsslot="">
                    <div class="krEOAc">
                        <div dir="ltr"
                            class="ia5f4b">   Need Customization of our App? <br>
                            Hire us: info@trillionbits.com</div>
                    </div>
                </span>
                <div jsname="WgKync"
                    class="uwAgLc f3Fr9d"></div>
            </div>            
            </div>
        </div> -->
    </div>
</div>
