@font-face {
  font-family: myFirstFont;
  src: url(../../../assets/font/Montserrat-Bold.otf);
}
body{
  overflow-x: hidden!important;
}

img.login-form-icon {
  width: 13px;
  margin-right: 5px;
}

.login-left-section {
  background-size: cover;
  padding-top: 30px;
  padding-left: 63px;
}
.login-right-section {
  padding-top: 50px;
}
.login-right-image {
  margin-top: 90px;
}
.SIGN-IN-Text {
  /* width: 174px; */
  height: 54px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #2143e9;
}
.Intersection-1 {
  height: 1px;
  background-color: #ddddee;
  width: 82%;
  margin: 0 auto;
}
.login-title-below-text {
  /* width: 370px; */
  height: 48px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #6f7c8d;
}
.ha-button {
  width: 50%;
  /* height: 69px; */
  /* border-radius: 11px; */
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 2px 27px 0 rgba(58, 150, 255, 0.42) !important;
  background-color: #00A1B3 !important;
  border-color: #2356ff;
}
.login-footer {
  color: #8b959e;
  margin-top: 150px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-size: 10px;
}
.login-footer a {
  color: #8b959e;
}
.login-footer-bottom {
  color: #8b959e;
  margin-top: 150px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-size: 10px;
}
.login-footer-bottom a {
  color: #8b959e;
}
/*
================+/+/+/+/+/+/+/+/+/=================
                    heigh
================+/+/+/+/+/+/+/+/+/=================
*/
@media only screen and (min-width: 1366px) {
  .login-footer-bottom{
    display: none;
  }
}

/*
================+/+/+/+/+/+/+/+/+/=================
                    medium
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .login-footer-bottom{
    display: none;
  }
}

/*
================+/+/+/+/+/+/+/+/+/=================
                     tab
================+/+/+/+/+/+/+/+/+/=================
*/
@media only screen  and (min-width:768px) and (max-width: 991px) {
 
}

/*tablet layout:768px*/
@media only screen and(min-width:768px) and (max-width: 991px) {
  .login-footer-bottom{
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .login-footer-bottom{
    display: none;
  }
}

/*
================+/+/+/+/+/+/+/+/+/=================
                    Mobile
================+/+/+/+/+/+/+/+/+/=================
*/
@media only screen and (max-width: 767px) {
  
}

/*
================+/+/+/+/+/+/+/+/+/=================
                    wid device
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .login-right-section {
    padding-top: 60px;
  }
  .login-footer{
    display: none;
  }
}

/*=========================================================================
                                The end
==========================================================================*/
