<div class="login-form"
    style="width: 100%; background-image:url(assets/Images/attnd-clay.png); background-size: contain;background-repeat: no-repeat;height: 100%;">
    <div class="row">
        <div class="col-md-6  login-left-section">
            <div class="container login-logo">
                <img src="assets/Images/logo.png" style="width: 20%" />
                <div class="login-right-image">

                </div>

            </div>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 login-right-section">
            <div class="login-right-form container">
                <div class="SIGN-IN-Text">
                    Register as a new company
                    <div class="Intersection-1"></div>
                </div>
                <form role="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                    <mat-form-field appearance="legacy" class="login-label-icon"
                        [ngClass]="{ 'has-error': f.submitted && !UserFullName.valid }">
                        <span matPrefix><img class="login-form-icon" src="assets/Images/user_icon_ashh.svg" /></span>
                        <input matInput placeholder="Enter your name" name="UserFullName"
                            [(ngModel)]="model.UserFullName" #UserFullName="ngModel" required>
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="login-label-icon"
                        [ngClass]="{ 'has-error': f.submitted && !PhoneNumber.valid }">
                        <span matPrefix><img class="login-form-icon" src="assets/Images/user_icon_ashh.svg" /></span>
                        <input matInput placeholder="Enter your phone number" name="PhoneNumber"
                            [(ngModel)]="model.PhoneNumber" #PhoneNumber="ngModel" required>
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="login-label-icon"
                        [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <span matPrefix><img class="login-form-icon" src="assets/Images/user_icon_ashh.svg" /></span>
                        <input matInput type="email" placeholder="Enter your email" name="email" [(ngModel)]="model.Email"
                            #email="ngModel" required>
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="login-label-icon"
                        [ngClass]="{ 'has-error': f.submitted && !CompanyName.valid }">
                        <span matPrefix><img class="login-form-icon" src="assets/Images/user_icon_ashh.svg" /></span>
                        <input matInput placeholder="Enter your company name" name="CompanyName"
                            [(ngModel)]="model.CompanyName" #CompanyName="ngModel" required>
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="login-label-icon"
                        [ngClass]="{ 'has-error': f.submitted && !CompanyName.valid }">
                        <select [(ngModel)]="model.Country" name="country" #country="ngModel"
                            class="form-control form-control-md">
                            <option [ngValue]="undefined" hidden selected>Select Country</option>
                            <option *ngFor="let x of countryList" value="{{x.key}}">{{x.label}}</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="login-label-icon"
                    [ngClass]="{ 'has-error': f.submitted && !CompanyName.valid }">
                    <select [(ngModel)]="model.TimeZone" name="timeZone" #timeZone="ngModel"
                        class="form-control form-control-md">
                        <option [ngValue]="undefined" hidden selected>Select Time Zone</option>
                        <option *ngFor="let x of timeZoneList" value="{{x.key}}">{{x.label}}</option>
                    </select>
                </mat-form-field>
                    <mat-form-field [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <span matPrefix><img class="login-form-icon"
                                src="assets/Images/password_icon_ashh.svg" /></span>
                        <input matInput name="password" placeholder="Enter your password"
                            [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password" #password="ngModel"
                            required>
                        <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                    </mat-form-field>
                    <mat-form-field [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
                        <span matPrefix><img class="login-form-icon"
                                src="assets/Images/password_icon_ashh.svg" /></span>
                        <input matInput name="confirmPassword" placeholder="Enter your confirmPassword"
                            [type]="hide ? 'confirmPassword' : 'text'" [(ngModel)]="model.ConfirmPassword"
                            #confirmPassword="ngModel" required>
                        <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide confirmPassword'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </a>
                    </mat-form-field>
                    <div class="text-center">
                        <button [disabled]="loading" class="btn my-4"
                            style="background-color:  #2356ff;color: #ffffff;width: 100%;">Join</button>
                        <img *ngIf="loading"
                            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <br>
                        Already have an account?
                        <a href="#/login">Sign In</a>


                    </div>
                </form>

            </div>
            <div class="login-footer-bottom">

            </div>
        </div>

    </div>

</div>