<!-- <router-outlet></router-outlet> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Attnd - Field Management System</title>

</head>


<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- Preloader-content -->
    <div class="preloade">
        <span><i class="zmdi zmdi-compass"></i></span>
    </div>
    <!--preload area end-->



    <!--:::::header area start:::::::-->
    <div class="header-area navbar" id="header">
          <div class="container">
                <div class="col-6 col-lg-2 align-self-center text-center">
              <div class="logo white">
                   <a href="#"><img src="assets/img/logo-white.png"></a>
               </div>
           </div>
              <div class="col-lg-7 d-none d-lg-block align-self-center text-right">
                <div class="main-menu">
                     <nav>
                          <ul class="navbar-nav" id="menu_nav">
                            <li class="nav-item">
                              <a class="nav-link" href="#feature-all">Features</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#Industries">Industries</a>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#pricing">Pricing</a>
                            </li>

                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Support
                              </a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Live Chat</a>
                                <a class="dropdown-item" href="#">Call Us</a>
                              </div>
                            </li>

                            <li class="nav-item">
                              <a class="nav-link" href="#contact">Contact Us</a>
                            </li>
                          </ul>
                     </nav>       
                </div>
              </div>
             <div class="col-lg-3 d-none d-lg-block align-self-center">
               <a href="#" class="custom_btn"><i class="fas fa-user pr-2"></i>SIGN IN</a>
           </div>
           <div class="col-6 d-lg-none">
                <div class="mobile_menu"></div>
            </div>
        </div>
    </div>
    <!--:::::header area end:::::::-->

    <!--:::::welcome area start:::::::-->
    <div class="welcome-area v1" id="home">
        <div class="container">
            <div class="main_area">
                <div class="row">
                    <div class="col-12">
                        <div class="welcome-text">
                            <span style="margin-bottom: 20px;">At Today's age CRM or HRM doesn't work, So Here's New Solution</span>
                            <h1>Field Service Management</h1>
                            <h1>Software Solution (FSM)</h1>
                            <p>A Multiplatform Software For Efficient Management <br>Of Field Workforce & Field Service Operations</p>
                        </div>
                        <div class="welcome-btns">
                            <a href="#" class="custom_btn">Try Now</a>
                            <a href="#" class="video_btn"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome_right" id="section1">
        <div class="welcome-right">
            <img src="assets/img/hero-bg-1.png" alt="">
        </div>
        <div class="meg">
            <img src="assets/img/m-2.png" alt="">
        </div>
        <div class="meg meg-2">
            <img src="assets/img/m-2.png" alt="">
        </div>
        <div class="meg meg-3">
            <img src="assets/img/m-3.png" alt="">
        </div>
        <div class="cross">
            <img src="assets/img/cross-_1.png" alt="">
        </div>
        <div class="cross cross-2">
            <img src="assets/img/cross-_1.png" alt="">
        </div>
        <div class="cross cross-3">
            <img src="assets/img/cross-_1.png" alt="">
        </div>
        <div class="cross cross-4">
            <img src="assets/img/cross-_1.png" alt="">
        </div>
        <div class="circle">
            <img src="assets/img/circle-i.png" alt="">
        </div>
        <div class="circle circle-2">
            <img src="assets/img/circle-i.png" alt="">
        </div>
        <div class="shit-1">
            <img src="assets/img/shit-1.png" alt="">
        </div>
        <div class="Rectangle">
            <img src="assets/img/Rectangle-1.png" alt="">
        </div>
        <div class="Rectangle Rectangle-2">
            <img src="assets/img/Rectangle-2.png" alt="">
        </div>
        <div class="share">
            <img src="assets/img/share_i.png" alt="">
        </div>
    </div>

    <!--:::::welcome area end:::::::-->
    <!-- About-Area / -->
    <section class="section-padding-top feature-area" style="background:url(assets/img/bg17.jpg); background-repeat: no-repeat, repeat;  background-color: #fff; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-title">Helps your field team to perform the job seamlessly</h2>
                    <div class="space-60"></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-box-two">
                            <img src="assets/img/f1.svg" style="height: 150px; margin-bottom: 30px;">
                        <h3 class="service-title">Field Task Management</h3>
                        <p>Manage end-to-end field tasks</p>
<!--                         <div class="nav-link"><a href="#" style="color: navy">Read More</a></div> -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-box-two">
                            <img src="assets/img/f2.svg" style="height: 150px; margin-bottom: 30px;">
                        <h3 class="service-title">Employee Tracking</h3>
                        <p>Manage sales order life cycle.</p>
<!--                         <div class="nav-link"><a href="#" style="color: navy">Read More</a></div> -->
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-box-two">
                        <img src="assets/img/f3.svg" style="height: 150px; margin-bottom: 30px;">
                        <h3 class="service-title">Sales Management</h3>
                        <p>Manage sales order life cycle.</p>
<!--                         <div class="nav-link"><a href="#" style="color: navy">Read More</a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--:::::progress bar area start:::::::-->
    <div class="progress-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div class="single_counter">
                            <h1 class="counter" data-count="72">56</h1>
                            <h5>Companies</h5>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="single_counter">
                            <h1 class="counter" data-count="2121">1138</h1>
                            <h5>Tacking Employees</h5>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="single_counter">
                            <h1 class="counter" data-count="3142">2345</h1>
                            <h5>Tasks Created</h5>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="single_counter">
                            <h1 class="counter" data-count="1897">1877</h1>
                            <h5>Sales Bill Collected</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--:::::progress bar area end:::::::-->


    <!-- Feature-Area -->
    <section class="feature-area section-padding-top" id="feature-all">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="page-title" style="margin-left: 550px;">increase business profit with right solution</h3>
                    <div class="space-30"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 features">
                    <div class="single-feature">
                        <div class="feature-icon" style="margin-left: 40px;">
                            <img src="assets/img/features/feature-1.png" alt="">
                        </div>
                        <h4 style="margin-top: 30px;" class="title">Daily Attendance</h4>
                        <p style="margin-top: 10px;">Everyday attendance with reports of office checkin time, check out time, working time & absent</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon" style="margin-left: 30px;">
                            <img src="assets/img/features/feature-2.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Location Tracking</h4>
                        <p style="margin-top: 10px;">Employees can check in, check out & check point full day with live map location, you can find your employee in real time, all day timeline</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon" style="margin-left: 30px;">
                            <img src="assets/img/features/feature-3.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Employee Detail</h4>
                        <p style="margin-top: 10px;">Get updates of each employee Full Day Location, Assigned Tasks, Monthly Attendance, Expense & Bills, Leave Requests</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon" style="margin-left: 30px;">
                            <img src="assets/img/features/feature-4.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Task Management</h4>
                        <p style="margin-top: 10px;">Assign day to day tasks to employee with detail work, customer contact, attachment, due date & location</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon" style="margin-left: 30px;">
                            <img src="assets/img/features/feature-5.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Project Management</h4>
                        <p style="margin-top: 10px;">Manage various projects with Boards, manage many Tasks under every board</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon" style="margin-left: 30px;">
                            <img src="assets/img/features/feature-6.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Everyday Notes</h4>
                        <p style="margin-top: 10px;">Employees can share simple notes & list with any other employee also admin</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon">
                            <img src="assets/img/features/feature-7.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Leave Requests</h4>
                        <p style="margin-top: 10px;">Employees can request for Sick Leaves, Casual Leaves & Others to Admin with Dates & Reason for Approval</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon"style="margin-left: 20px;">
                            <img src="assets/img/features/feature-8.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Sales Management</h4>
                        <p style="margin-top: 10px;">Collecting Bills from Customer and Depositing To Admin or Manager with Bank or Cash, All can be managed</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon" style="margin-left: 30px;">
                            <img src="assets/img/features/feature-9.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Employee Expense</h4>
                        <p style="margin-top: 10px;">Daily marketing employee expenses can be made into invoices and send to admin with payment status for their payments</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon" style="margin-left: 30px;">
                            <img src="assets/img/features/feature-10.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Company Payments</h4>
                        <p style="margin-top: 10px;">Daily random Payments & Expenses of business can be listed & tracked with monthly reports</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon"style="margin-left: 35px;">
                            <img src="assets/img/features/feature-11.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Dynamic Reports</h4>
                        <p style="margin-top: 10px;">We designed 6 types of effective Dynamic Reports to boost your business analysis to bump your profits</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon" style="margin-left: 0px;">
                            <img src="assets/img/features/feature-12.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Multiple Company</h4>
                        <p style="margin-top: 10px;">One Admin can manage multiple businesses with stong database and smooth accessing</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon">
                            <img src="assets/img/features/feature-13.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Notice Board</h4>
                        <p style="margin-top: 10px;">We designed 6 types of effective Dynamic Reports to boost your business analysis to bump your profits</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon">
                            <img src="assets/img/features/feature-14.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">User Friendly App</h4>
                        <p style="margin-top: 10px;">Daily marketing employee expenses can be made into invoices and send to admin with payment status for their payments</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon">
                            <img src="assets/img/features/feature-15.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Secure Business Data</h4>
                        <p style="margin-top: 10px;">Daily marketing employee expenses can be made into invoices and send to admin with payment status for their payments</p>
                    </div>
                    <div class="single-feature">
                        <div class="feature-icon" style="margin-left: 5px;">
                            <img src="assets/img/features/feature-16.png" alt="">
                        </div>
                        <h4 style="margin-top: 60px;" class="title">Advance Web</h4>
                        <p style="margin-top: 10px;">Daily marketing employee expenses can be made into invoices and send to admin with payment status for their payments</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature-Area / -->

    <!--:::::future area start:::::::-->
    <div class="future-area section-padding" id="devices">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="heading wow fadeIn" data-wow-delay=".3s" data-wow-duration="2s">
                        <h1> After years of harkwork,<br>We are proud to bring at 2019</h1>
                    </div>
                    <div class="space-45"></div>

                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="single-future active" data-toggle="pill" href="#tab1" role="tab">
                            <strong>Admin App</strong>
                            <small>Can be to make a site look like the demo make your start into the world easy possible included.</small>
                        </a>
                        <a class="single-future" data-toggle="pill" href="#tab2" role="tab">
                            <strong>Employee App</strong>
                            <small>Can be to make a site look like the demo make your start into the world easy possible included.</small>
                        </a>
                        <a class="single-future" data-toggle="pill" href="#tab3" role="tab">
                            <strong>Supports Web, Android & IOS</strong>
                            <small>Can be to make a site look like the demo make your start into the world easy possible included.</small>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 text-center">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                            <div class="future-mobile">
                                <img style="width: 360px" src="assets/img/future_phone.png" alt="phone">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                            <div class="future-mobile">
                                <img style="width: 360px" src="assets/img/future_phone-2.png" alt="phone">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                            <div class="future-mobile">
                                <img style="margin-top: 150px" src="assets/img/future_web.png" alt="phone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--:::::future area end:::::::-->
    <!--:::::cta area start:::::::-->
    <div class="container" style="margin-bottom: 100px">
        <div class="cta-area">
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="heading wow fadeIn" data-wow-delay=".3s" data-wow-duration="4s">
                        <h1>Enjoy your download system
                            in single tap your phone.</h1>
                    </div>
                    </div>
                    <div class="col-md-5 text-center align-self-center">
                        <div class="welcome-btns">
                            <a href="#" class="custom_btn cta-1"><i class="mr-1 fab fa-apple"></i>Downlaod Now</a>
                            <a href="#" class="custom_btn cta-2"><i class="mr-1 fab fa-android"></i>Downlaod Now</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
        <!--:::::cta area end:::::::-->
    <!--:::::service area start:::::::-->
    <div class="service-area" id="Industries">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 m-auto text-center">
                    <div class="heading heading2">
                        <h1>Why You Need <span>ATTND Software</span>
                            <br>For your Business</h1>
                    </div>
                </div>
            </div>
            <div class="space-60"></div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="single-service mb-30">
                        <img src="assets/img/service_1.png" alt="">
                        <strong>Regular Business Model</strong>
                        <small>Can be to make site look like the demo make your start and into the world easy possible included.</small>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-service mb-30">
                        <img src="assets/img/service_6.png" alt="">
                        <strong>Service Based Business</strong>
                        <small>Can be to make site look like the demo make your start and into the world easy possible included.</small>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-service mb-30">
                        <img src="assets/img/service_3.png" alt="">
                        <strong>Installation & Repair Company</strong>
                        <small>Can be to make site look like the demo make your start and into the world easy possible included.</small>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-service mb-30">
                        <img src="assets/img/service_4.png" alt="">
                        <strong>Logistics & Delivery Service</strong>
                        <small>Can be to make site look like the demo make your start and into the world easy possible included.</small>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-service mb-30">
                        <img src="assets/img/service_5.png" alt="">
                        <strong>Construction Industry</strong>
                        <small>Can be to make site look like the demo make your start and into the world easy possible included.</small>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-service mb-30">
                        <img src="assets/img/service_6.png" alt="">
                        <strong>Security Industry</strong>
                        <small>Can be to make site look like the demo make your start and into the world easy possible included.</small>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-service mb-30">
                        <img src="assets/img/service_6.png" alt="">
                        <strong>Manufacturing & Retail Industry</strong>
                        <small>Can be to make site look like the demo make your start and into the world easy possible included.</small>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-service mb-30">
                        <img src="assets/img/service_6.png" alt="">
                        <strong>Corporate Businesses</strong>
                        <small>Can be to make site look like the demo make your start and into the world easy possible included.</small>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-service mb-30">
                        <img src="assets/img/service_6.png" alt="">
                        <strong>Food Delivery</strong>
                        <small>Can be to make site look like the demo make your start and into the world easy possible included.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--:::::service area end:::::::-->


    <!-- Gallery-Area -->
    <section class="gallery-area section-padding-top" id="gallery-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="page-title" style="margin-left: 550px;">App is Designed to Work with every Business</h3>
                    <div class="space-30"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="gallery">
                        <div class="item">
                            <img src="assets/img/features/apps-screen-0.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/features/apps-screen-1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/features/apps-screen-2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/features/apps-screen-3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/features/apps-screen-4.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/features/apps-screen-5.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/features/apps-screen-6.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/features/apps-screen-7.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery-Area / -->
    <!--:::::testimonial area start:::::::-->
    <div class="testimonial-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 m-auto text-center">
                    <div class="heading heading3">
                        <h1>We Focus on Every Aspects <br>Client Needs For Their Business</h1>
                    </div>
                </div>
            </div>
            <div class="space-80"></div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="testimonials owl-carousel">
                        <div class="signle-testimonial">
                            <p>Assign day to day tasks to employee with detail work, customer contact, attachment, due date & location</p>
                            <div class="testimonial-author">
                                <img src="assets/img/testimonial_1.png" alt="">
                                <strong>Aaron Barnett <span>web developer</span></strong>
                            </div>
                        </div>
                        <div class="signle-testimonial">
                            <p>Assign day to day tasks to employee with detail work, customer contact, attachment, due date & location</p>
                            <div class="testimonial-author">
                                <img src="assets/img/testimonial_1.png" alt="">
                                <strong>Aaron Barnett <span>web developer</span></strong>
                            </div>
                        </div>
                        <div class="signle-testimonial">
                            <p>Assign day to day tasks to employee with detail work, customer contact, attachment, due date & location</p>
                            <div class="testimonial-author">
                                <img src="assets/img/testimonial_1.png" alt="">
                                <strong>Aaron Barnett <span>web developer</span></strong>
                            </div>
                        </div>
                        <div class="signle-testimonial">
                            <p>Assign day to day tasks to employee with detail work, customer contact, attachment, due date & location</p>
                            <div class="testimonial-author">
                                <img src="assets/img/testimonial_1.png" alt="">
                                <strong>Aaron Barnett <span>web developer</span></strong>
                            </div>
                        </div>
                        <div class="signle-testimonial">
                            <p>Assign day to day tasks to employee with detail work, customer contact, attachment, due date & location</p>
                            <div class="testimonial-author">
                                <img src="assets/img/testimonial_1.png" alt="">
                                <strong>Aaron Barnett <span>web developer</span></strong>
                            </div>
                        </div>
                        <div class="signle-testimonial">
                            <p>Assign day to day tasks to employee with detail work, customer contact, attachment, due date & location</p>
                            <div class="testimonial-author">
                                <img src="assets/img/testimonial_1.png" alt="">
                                <strong>Aaron Barnett <span>web developer</span></strong>
                            </div>
                        </div>
                        <div class="signle-testimonial">
                            <p>Assign day to day tasks to employee with detail work, customer contact, attachment, due date & location</p>
                            <div class="testimonial-author">
                                <img src="assets/img/testimonial_1.png" alt="">
                                <strong>Aaron Barnett <span>web developer</span></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--:::::testimonial area end:::::::-->

    <!--:::::pricing area start:::::::-->
    <div class="pricing-area section-padding" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 m-auto text-center">
                    <div class="heading heading2">
                        <h1>Software is not just a product, <br>For us, we consider it as <span>Service</span></h1>
                    </div>
                </div>
            </div>
            <div class="space-80"></div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 text-center">
                    <div class="nav pricing_tab" role="tablist">
                        <!-- <a class="tab_one nav-item nav-link active" role="tab" data-toggle="tab" href="#table_one" aria-selected="true"><i class="fas fa-dollar-sign"></i></i>USD</a>
                        <a class="tab_two nav-item nav-link" role="tab" data-toggle="tab" href="#table_two" aria-selected="false"><i class="fas fa-lira-sign"></i>BDT</a> -->
                    </div>
                </div>
            </div>
            <div class="space-80"></div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="table_one" role="tabpanel">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <div class="single-pricing">
                                <h5><span>$10</span>Small Business</h5>
                                <ul>
                                    <li><i class="fas fa-times"></i>Branding</li>
                                    <li><i class="fas fa-check"></i>Upto 20 Users</li>
                                    <li><i class="fas fa-check"></i>Unlimited Task</li>
                                    <li><i class="fas fa-times"></i>Advance Protection</li>
                                    <li><i class="fas fa-check"></i>Cloud Storage 24/7</li>
                                    <li><i class="fas fa-times"></i>Software Modify</li>
                                    <li><i class="fas fa-times"></i>Monthly Reports</li>
                                    <li><i class="fas fa-check"></i>Customer Support</li>
                                </ul>
                                <a href="#" class="pricing_btn">order now</a>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="single-pricing">
                                <h5><span>$20</span>Professional</h5>
                                <ul>
                                    <li><i class="fas fa-times"></i>Branding</li>
                                    <li><i class="fas fa-check"></i>Upto 50 Users</li>
                                    <li><i class="fas fa-check"></i>Unlimited Task</li>
                                    <li><i class="fas fa-check"></i>Advance Protection</li>
                                    <li><i class="fas fa-check"></i>Cloud Storage 24/7</li>
                                    <li><i class="fas fa-times"></i>Software Modify</li>
                                    <li><i class="fas fa-check"></i>Monthly Reports</li>
                                    <li><i class="fas fa-check"></i>Customer Support</li>
                                </ul>
                                <a href="#" class="pricing_btn active">order now</a>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="single-pricing">
                                <h5><span>$80</span>Corporate</h5>
                                <ul>
                                    <li><i class="fas fa-check"></i>Branding</li>
                                    <li><i class="fas fa-check"></i>Unlimited Users</li>
                                    <li><i class="fas fa-check"></i>Unlimited Task</li>
                                    <li><i class="fas fa-check"></i>Advance Protection</li>
                                    <li><i class="fas fa-check"></i>Cloud Storage 24/7</li>
                                    <li><i class="fas fa-check"></i>Software Modify</li>
                                    <li><i class="fas fa-check"></i>Monthly Reports</li>
                                    <li><i class="fas fa-check"></i>Customer Support</li>
                                </ul>
                                <a href="#" class="pricing_btn">order now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="table_two" role="tabpanel">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <div class="single-pricing">
                                <h5><span>৳500</span>Small Business</h5>
                                <ul>
                                    <li><i class="fas fa-times"></i>Branding</li>
                                    <li><i class="fas fa-check"></i>Upto 20 Users</li>
                                    <li><i class="fas fa-check"></i>Unlimited Task</li>
                                    <li><i class="fas fa-times"></i>Advance Protection</li>
                                    <li><i class="fas fa-check"></i>Cloud Storage 24/7</li>
                                    <li><i class="fas fa-times"></i>Software Modify</li>
                                    <li><i class="fas fa-times"></i>Monthly Reports</li>
                                    <li><i class="fas fa-check"></i>Customer Support</li>
                                </ul>
                                <a href="#" class="pricing_btn active">order now</a>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="single-pricing">
                                <h5><span>৳1200</span>Professional</h5>
                                <ul>
                                    <li><i class="fas fa-times"></i>Branding</li>
                                    <li><i class="fas fa-check"></i>Upto 50 Users</li>
                                    <li><i class="fas fa-check"></i>Unlimited Task</li>
                                    <li><i class="fas fa-check"></i>Advance Protection</li>
                                    <li><i class="fas fa-check"></i>Cloud Storage 24/7</li>
                                    <li><i class="fas fa-times"></i>Software Modify</li>
                                    <li><i class="fas fa-check"></i>Monthly Reports</li>
                                    <li><i class="fas fa-check"></i>Customer Support</li>
                                </ul>
                                <a href="#" class="pricing_btn">order now</a>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="single-pricing">
                                <h5><span>৳5000</span>Corporate</h5>
                                <ul>
                                    <li><i class="fas fa-check"></i>Branding</li>
                                    <li><i class="fas fa-check"></i>Unlimited Users</li>
                                    <li><i class="fas fa-check"></i>Unlimited Task</li>
                                    <li><i class="fas fa-check"></i>Advance Protection</li>
                                    <li><i class="fas fa-check"></i>Cloud Storage 24/7</li>
                                    <li><i class="fas fa-check"></i>Software Modify</li>
                                    <li><i class="fas fa-check"></i>Monthly Reports</li>
                                    <li><i class="fas fa-check"></i>Customer Support</li>
                                </ul>
                                <a href="#" class="pricing_btn">order now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--:::::pricing area end:::::::-->

    <!-- Download-Area -->
    <section class="section-padding" style="background-image:url(assets/img/app-dw.jpg); background-size: cover;background-repeat: no-repeat;height: 886px;">
            <div class="container">
                <div class="row" style="width: inherit; margin-left: 650px;">
                    <div class="col-xs-12 col-md-8 col-lg-6 pull-right section-padding">
                        <h3 class="page-title wow fadeInUp" data-wow-delay="0.3s">Solution For Your Business</h3>
                        <p class=" wow fadeInUp" data-wow-delay="0.5s">Manage your business wherever you go with our apps for iPhone, iPad, and Android phones &amp; tablets.</p>
                        <div class="row space-30 hidden visible-xs"></div>
                        <a href="#" class="bttn-icon red-hover wow fadeIn" data-wow-delay="0.7s">
                            <span class="bttn-content">
                                <span class="icon">
                                   <img src="assets/img/app-store.png" alt="">
                                </span>
                                <small>Get It From </small>
                                <strong>Appstore</strong>
                            </span>
                        </a>
                        <a href="#" class="bttn-icon red-hover wow fadeIn" data-wow-delay="0.9s">
                            <span class="bttn-content">
                                <span class="icon">
                                    <img src="assets/img/play-store.png" alt="">
                                </span>
                                <small>Get It From </small>
                                <strong>Appstore</strong>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Download-Area / -->

        <div class="footer-area" id="Contact">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="single-footer">
                            <div class="footerlogo">
                                <a href="#"><img src="assets/img/logo.png" alt=""></a>
                                <p>We all know how hard it can be to make a solution to manage a business successfully</p>
                                <div class="footer-social">
                                    <ul>
                                        <li><a class="active" href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="single-footer">
                            <h5>Service</h5>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Development</a></li>
                                    <li><a href="#">Marketing</a></li>
                                    <li><a href="#">Business</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="single-footer">
                            <h5>Address</h5>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="#">136 (2nd Floor), Road 5, Block KA, PC Culture Housing Society, Shyamoli, Dhaka-1204 <br>Bangladesh</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="single-footer">
                            <h5>Product By TrillionBits Ltd.</h5>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="www.trillionbits.com">trillionbits.com</a></li>
                                    <li><a href="#">support@attnd.xyz</a></li>
                                    <li><a href="#">+88 019 1354 1321</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="footer-r">
                            <p>Copyright © TrillionBits Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!-- end footer -->




    <!--:::::define scroll to up btn  :::::::-->
    <a href="#home" class="up_btn scroll"><i class="fas fa-angle-up"></i></a>


    <!--:::::jquery.waypoints.min.js :::::::-->
  
</body>

</html>