<div class="main-content">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
              <h4>TODAY'S ATTENDANCE</h4>
          </div>
          <div class="card-body">

              <div *ngFor="let a of employeeList; index as i " class="d-flex justify-content-start align-items-center mb-1" style="padding: 10px;">
                  <div class="avatar mr-50">
                      <img *ngIf="a.ImageFileName!=''" src="{{config.fileUrl}}{{a.ImageFileName}}" alt="avtar img holder" height="35" width="35">
                      <img *ngIf="a.ImageFileName==''" src="../../assets/Images/employee.png" alt="avtar img holder" height="35" width="35">
                  </div>
                  <div class="user-page-info">
                      <h6 class="mb-0">{{a.EmployeeName}}</h6>
                      <span class="font-small-2">{{a.DesignationName}}/{{a.DepartmentName}}</span>
                  </div>
                  <div class="user-page-info-2">
                    <h6 class="mb-0"> <span class="badge badge-success">{{a.CheckInTimeVw}}</span></h6>
                    <span class="font-small-2">
                     <span class="badge badge-warning">{{a.CheckOutTimeVw}}</span>
                    </span>
                </div>

                  <span *ngIf="a.OfficeStayHour!=''" class="badge badge-primary ml-auto waves-effect waves-light">
                   C/H : {{a.OfficeStayHour}}
                  </span>
              </div>

          </div>
      </div>
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
              <h4>LATEST NOTICE</h4>
          </div>
          <div class="card-body">
            <div class="card-text">
              <div *ngFor="let a of noticeList; index as i " class="d-flex justify-content-start align-items-center mb-1">
       
                  <blockquote class="blockquote pl-1 border-left-primary border-left-3" style="width: 100%;">
                    <div class="media">
                        <div class="media-left pr-1">
                            <img  *ngIf="a.ImageFileName!=''" class="media-object img-xl" src="{{config.fileUrl}}{{a.ImageFileName}}" alt="notice image">
                            <img  *ngIf="a.ImageFileName==''" class="media-object img-xl" src="../../assets/Images/noImage.png" alt="notice image">
                        </div>
                        <div class="media-body">
                          {{a.Details}}
                        </div>
                    </div>
                    <footer class="blockquote-footer text-right">{{a.CreateDate}}
                      
                    </footer>
                </blockquote>

              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
   
  </div>
</div>

